*{
  margin:0;
}
/* header Style */
.bg-image{
  background-image: url(./images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 808px;
 
}
.header-tex{
  text-align:right;
  padding-right: 100px;
  padding-top: 216px;
}
/* header text style*/
.bg-heading{
  padding-bottom: 53px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;

color: #FFFFFF;
}
.para{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: right;
color: #FFFFFF;
padding-bottom: 53px;
}
.btn{

  background-color: #FFFFFF;

  font-size: 20px;
  padding: 23px 25px;
  border-radius: 5px;
  color: #0091FF;
}
/*section style */


.section-flex{
  width: 700px;
  height: 723.3px;
  display: flex;
  gap:20px;

  justify-content: space-between;
  margin:0 auto;
  padding-top:200px; 
}







.plan{
  display: flex;
  justify-content:space-around;
  width: 800px;
  gap: 50px;
  margin-left: 280px;
  

}
.section.one{
  width: 1140;
  height: 202px;
 
}
.plan-heading{
  text-align: center;
  margin-bottom: 50px;
}
.img-div{
  padding-bottom: -60px;
}
.web{
  margin-top: 10px;
  margin-right: 30px;
}



.future{
  background-color: black;
  height: 300px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 130px;
  padding-left: 230px;
  padding-right: 230px;
  gap: 300px
  ;
}
.padding-add{
  padding-top: 10px;

}
.img-style{
padding-top: 20px;
padding-inline: 0px;
padding-right: 20px;
}
.sub{
 padding-bottom: 10px;
}
.mail-style{
  padding: 10px;
  margin-bottom: 16px;
}
.subscribe{
  padding: 10px 20px;
  background-color: #001FFF;
  border-radius: 5px;
}
.linear{
  display: inline-block;
  height: 300px;
  width: 1000px;
  margin-top: 400px;
  margin-bottom: 130px;
  margin-left: 200px;
  margin-right: 230px;
  text-align: left;
  position:relative;
 background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(./images/watch.png);
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;

}
.text-style {
  padding-top: 120px;
  padding-left: 59px;


}
.text{
 padding-bottom: 10px;
 color: white;

}
.btn-linear{
background-color:white;
color: #0070FF;
border-radius: 5px;
width: 120px;
height: 30px;
}